@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --card-color: hsl(0, 0%, 100%);
    --body-color: hsl(212, 45%, 89%);
    --font-color: hsl(220, 15%, 55%);
    --heading-color: hsl(218, 44%, 22%);
    /* Font Size */
    --fs-500: 1.35rem;
    --fs-400: 0.94rem;

    --fs-body: var(--fs-400);
    --fs-heading: var(--fs-500);

    /* Font-Family */
    --ff-primary: 'Outfit', sans-serif;

    /* Font Weight */
    --fw-400: 400;
    --fw-700: 700;

    --fw-body: var(--fw-400);
    --fw-heading: var(--fw-700);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}


.wrapper {
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.card {
    max-width: 320px;
    height: auto;
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--card-color);
    text-align: center;
}

.card img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.text-wrapper {
    width: 100%;
    padding-inline: .5rem;
}

.card h1 {
    font-size: var(--fs-500);
    font-family: var(--ff-primary);
    color: var(--heading-color);
    padding-block: 1.1rem;
    max-width: 19.5ch;
}

.card p {
    font-size: var(--fs-400);
    font-family: var(--ff-primary);
    color: var(--font-color);
    padding-block-end: 1rem;
    margin-inline: auto;
    max-width: 26ch;
}



